@model List<EzInvoice.Models.Invoice>

@{
    Layout = "_MainLayout";
}

 <html>
    <head>
        <link rel="stylesheet" href="~/css/Dashboard.css" />
    </head>
<body>
    <div class="container">
        <div class="jumbotron">
            <h1 class="text-center">Welcome to your Main Dashboard</h1>
        </div>
     
        <div class="text-center">
            <div>
                <h3>Total Number of clients: 13</h3>
                <h3>Total Number Invoices: 20</h3>
                <h3>Total Outstanding Invoice Amount:  $5600</h3>

            </div>

        </div>
    </div>
</body>
    </html>
