@model List<EzInvoice.Models.Invoice>

@{
    Layout = "_MainLayout";
}

<div class="container">
    <div class="jumbotron">
        <h1 class="text-center">Welcome to your Main Dashboard</h1>
    </div>
    @* todo: 
        Make a decent Dashboard Screen*@
</div>
