@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
    <link rel="stylesheet" href="/lib/twitter-bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="/lib/twitter-bootstrap/js/bootstrap.js" />
</head>
<body>
<h1 class="jumbotron text-center">ERROR</h1>
<p class="text-center">We're sorry. We cannot find the page you are looking for.</p>
</body>
</html>
