@model EzInvoice.Models.LoginAttempt

@{
    Layout = "_LoginLayout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <title class="title">Login</title>
</head>
<body>
    <div class="border border-dark main-header">
        <h1 class="text-center font-weight-bold"> Welcome to EzInvoice </h1>
    </div>
  
     
    <h2 class="font-weight-bold login text-center">Login</h2>
    @if (!Model.emptyAttempt())
    {
        <h3 class="text-danger">INFORMATION INCORRECT. TRY AGAIN.</h3>
    }

<div class="form-box">
    @using (Html.BeginForm("login", "Home", FormMethod.Post))
    {
        @Html.TextBoxFor(loginAttempt => loginAttempt.Email_address, new { placeholder = "email", value = Model.Email_address });
        @Html.TextBoxFor(loginAttempt => loginAttempt.Password, new { placeholder = "password", value = Model.Password });
        <input type="submit" value="Login" />
    }

</div>
    <div class="text-center"> 
        <a asp-action="SignUp" class="btn btn-success signUp">Don't Have an Account? SignUp</a>
    </div>
</body>
</html>
