@model EzInvoice.Models.User;
@{
    Layout = "_AuthLayout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Signup</title>
</head>
<body>
    <form asp-action="Save" method="post">
        <fieldset>
            <div asp-validation-summary="All"></div>

            <legend>Sign Up</legend>
            <div>
                <label asp-for="FirstName">First Name: </label>
                <input asp-for="FirstName" />
            </div>
            <div>
                <label asp-for="LastName">Last Name: </label>
                <input asp-for="LastName" />
            </div>
            <div>
                <label asp-for="EmailAddress">Email Address:</label>
                <input asp-for="EmailAddress" />
            </div>
            <div>
                <label asp-for="Password">Password:</label>
                <input asp-for="Password" />
            </div>
            <div>
                <input type="submit" name="submit" value="submit" />
            </div>
        </fieldset>
    </form>

</body>
</html>
