 body {
     background-color:cadetblue;
}

 .signUp{
     margin-top: 10%
 }

 .title{
     margin-top: 10%
 }

 .main-header{
     width: 80%;
     margin-left: 10%
 }

 .login{
     margin-top:5%;
     margin-left: 2%
 }

 .f-box{
     width:80%;
 }




