<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/lib/twitter-bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="/lib/twitter-bootstrap/js/bootstrap.js" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/lib/font-awesome/css/all.css" />
    <link rel="stylesheet" href="~/css/LoginStylesheet.css" />
    <link rel="stylesheet" href="~/css/StyleSheet.css" />
    <title>@ViewBag.Title</title>
    <style>
        body {
            padding-top: 50px;
            background-color:cadetblue;

        }

        .form-box{
            margin-left:15%
        }
    </style>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
