<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/lib/twitter-bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="/lib/twitter-bootstrap/js/bootstrap.js" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/lib/font-awesome/css/all.css" />
    <link rel="stylesheet" href="/css/StyleSheet.css" />
    <title>@ViewBag.Title</title>
    <style>
        body {
            padding-top: 50px;
        }
    </style>
</head>
<body>

    <!-- Nav Bar - Open -->
    <nav class="navbar fixed-top navbar-expand-md navbar-light bg-light">
        <a class="navbar-brand" href="#"><img src="~/images/logo.png" height="50px"/></a> <!-- logo -->

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span> <!-- creates the 3 horizontal lines - can type click me -->
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- Collapsible Container -->
            <div class="navbar-nav mr-auto">
                <!-- Nav Bar Items in List -->


                <div class="nav-item">
                    <!-- Clients button -->
                    <a class="nav-link" asp-controller="Home" asp-action="Index">
                        <span class="fas fa-lemon"></span> Back
                        <span class="sr-only">(current)</span>
                    </a>
                </div> <!-- Clients button -->


            </div> <!-- Nav Bar Items in List -->
        </div> <!-- Collapsible Container -->
    </nav>
    <!-- Nav Bar - Closed -->

    <div class="mainContent">
        @RenderBody()
    </div>
</body>
</html>
