@{
    Layout = "_OtherLayout";
}

<div class="container-fluid">
    <div class="jumbotron text-center">
        <h1>Invoice has been deleted</h1>
    </div>
    
    <div class="text-center">
        <p>You have successfully deleted the invoice.<br/>
            You can now return to the Invoice Menu.<br/>
            <a asp-action="Index" asp-controller="Invoice"  type="button" class="btn btn-primary">Return to Invoice Menu</a>
        </p>
    </div>
</div>