@model Invoice

@{
    Layout = "_OtherLayout";
}

<h1 class="text-center">Thank you for Paying the Invoice!</h1>
<p class="text-center">Please feel free to return to the Main Invoice Page.</p>

<div class="text-center">
    <a type="button" class="btn btn-success" asp-controller="Invoice" asp-action="Index">Return to Main Invoice Page</a>
</div>